$colorBtn: #1e1e24;

.pop-up {
    --transitionTime: 0.3s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    transition: var(--transitionTime);

    opacity: 0;
    visibility: hidden;
    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    &__container {
        position: relative;
        width: 500px;
        margin: auto auto;
        display: none;
        vertical-align: middle;
        background-color: $colorBtn;
        border-radius: 20px;
        cursor: default;
        text-align: left;
        padding: 25px 30px;
        color: white;
    }
    &__title {
        font-size: 32px;
        margin: 0 0 20px 0;
    }
    &-lorem {
        p {
            margin: 0;
        }
        span {
            padding: 10px 0 0 0;
            font-size: 14px;
        }
    }
}

// CLASSES FOR JS

.open {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transitionTime), var(--transitionTime);
}
.pop-up-open {
    display: inline-block;
}
.fade {
    transition: opacity var(--transitionTime);
    opacity: 0;
}
.fade.animate-open {
    opacity: 1;
    transition: opacity var(--transitionTime);
}

.content {
    min-height: 200vh;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.closeTag {
    display: none;
}
